{% extends 'base.html' %}
{% load static %}



{% block baroption %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'homejurado' %}">Inicio</a>
</li>

{% endblock %} 

{% block content %}



<div class="d-flex justify-content-center align-items-center containernew">
  <h5 class="mb-3">Bienvenido, {{ nombrejurado }}!</h5>
</div>

<div class="d-flex justify-content-center align-items-center containernew">
  <h5 class="mb-3">Perfil: {{ tipo_usuario_completo}}!</h5>

</div>


<div class="d-flex justify-content-center align-items-center">
  {% csrf_token %}
  <div style="  text-align: justify;
  width: 100%; 
  max-width: 800px; 
  height: 800%;
  margin:0 auto;
  padding: 20px;">

    <p style="font-size: 20px;"><strong>Plataforma de Votaciones Guambía 2025</strong></p>
<p style="font-size: 18px;">
  La plataforma <strong>Votaciones Guambía 2025</strong> ha sido desarrollada para facilitar la 
  consulta de los usuarios habilitados para participar en el proceso electoral del territorio de Guambía.
  <br><br>
  A través de este sistema, los ciudadanos pueden verificar si están registrados para votar, 
  asegurando un proceso transparente, ordenado y accesible para toda la comunidad Misak.
  <br><br>

</p>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-start" style="background-color: #f5f5f5;">   
   <div class="container">

  <section class="section-content py-3">
    <div class="row">
      <aside class="col-lg-3"> 
  <!-- ============= COMPONENT ============== -->
        <nav class="sidebar card py-2" style="background-color: #2e39de;">
        <ul class="nav flex-column" style="list-style: none; margin: 0; padding: 0;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homejurados' %}" 
              style="color: #09f062; font-weight: bold; text-decoration: none; display: block; padding: 10px 15px;">
              BUSQUEDA DE USUARIOS
            </a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="{% url 'registrovotos' %} " 
              style="color: #6ab8d9; font-weight: bold; text-decoration: none; display: block; padding: 10px 15px;">
              REPORTE DE VOTACIONES
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="{% url 'baselogin' %}">SALIR</a>
          </li>
        </ul>
        </nav>
  <!-- ============= COMPONENT END// ============== -->	
      </aside>
      <main class="col-lg-9">
        <p style="font-size: 18px;">
          Ingresar el tipo y número de documento de los usuarios.
          </p>

        <form class="d-flex" action="{% url 'homejurado' %}" method="GET">
          
          <select class="form-select me-2" aria-label="SELECCIONE TIPO ID..." name="opcionesid" required>
            <option value="" selected>SELECCIONE TIPO ID...</option>
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="RC">RC</option>

            <!-- Agrega más opciones según sea necesario -->
          </select>
          <input class="form-control me-2" type="search" placeholder="NÚMERO DE IDENTIFICACIÓN" aria-label="Search" name="buscadorid" required>
    
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

          {% if noexistuser == "1" %}
          <h2>Información del Votación</h2>
          <div style="display: flex;">
            <div style="flex: 1;">
                <table>

                    <tr>
  
                        <th colspan="2" style="text-align: center; padding: 15px;">
                          <h5 style="color: rgb(255, 1, 1); font-weight: bold; font-size: 18px;">
                             ⚠️El USUARIO NO ESTÁ HABILITADO PARA VOTAR, FAVOR INGRESAR UN NÚMERO DE DOCUMENTO VALIDO
                            </h5>
                          
                        </th>

                    </tr>
                 </table>
            </div>
          </div>
            <li class="nav-item">
            <a type="button" class="btn btn-primary" href="{% url 'homejurados' %}">BUSCAR OTRO USUARIO</a>
          </li>
          {% endif %}

        
        {% if tipo_doc %}
          <h2>Información del Usuario</h2>
          <div style="display: flex;">
            <div style="flex: 1;">
                <table>

                    <th class="h6" style="text-align: left;">Tipo Doc: </th>
                    <tr>
                        {% if tipo_doc %}
                        <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ tipo_doc }}</td>
                        {% endif %}
                    </tr>
                 
                    <th class="h6" style="text-align: left;">Num Doc: </th>
                    <tr>
                      {% if num_doc %}
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ num_doc }}</td>
                      {% endif %}
                    </tr>

                    <th class="h6" style="text-align: left;">Nombre: </th>
                    <tr>
                      {% if nombre %}
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ nombre }}</td>
                      {% endif %}
                    </tr>

                    
                    <th class="h6" style="text-align: left;">Apellido: </th>
                    <tr>
                    {% if apellido %}
                    <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ apellido }}</td>
                    {% endif %}
                    </tr>

                    <th class="h6" style="text-align: left;">Fecha de nacimiento: </th>
                  <tr>
                      {% if fecha_nacimiento %}
                    
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ fecha_nacimiento }}</td>
                      {% endif %}
                  </tr>

                  
                </table>
            </div>
        
            <div style="flex: 1;">
                <table>
                  <th class="h6" style="text-align: left;">Parentesco: </th>
                  <tr>
                      {% if parentesco %}
                    
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ parentesco }}</td>
                      {% endif %}
                  </tr>

                    
                    <th class="h6" style="text-align: left;">Sexo: </th>
                    <tr>
                      {% if sexo %}
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ sexo }}</td>
                      {% endif %}            
                    </tr>

                    
                    
                    
                      {% if mesa %}
                      <th class="h6" style="text-align: left;">Mesa: </th> 
                      <tr>                 
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ mesa }}</td>
                      </tr>
                      {% endif %}
                      
                    
                    
                    
                    <th class="h6" style="text-align: left;">Voto: </th>

                    <tr>
                      {% if voto %}
                      <td class="form-control me-2 text-xl-left" style="text-align: left;">{{ voto }}</td>
                      {% endif %}
                    </tr>
                    
                    
                </table>
            </div>
   

          </div>

          <h2>Información del Votación</h2>
          <div style="display: flex;">
            <div style="flex: 1;">
                <table>


                    <tr>
                        {% if voto == "no" %}
                        <th colspan="2" style="text-align: center; padding: 15px;">
                          <h5 style="color: rgb(1, 255, 35); font-weight: bold; font-size: 28px;">
                            ⚠️ NO HA REGISTRADO EL VOTO </h5>
                          <form method="post" action="{% url 'registrar_voto' %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_doc" value="{{ tipo_doc }}">
                            <input type="hidden" name="num_doc" value="{{ num_doc }}">
                            <input type="hidden" name="mesajurado" value="{{ mesajurado }}">
                            <button type="submit" class="btn btn-success" style="margin-top: 10px;">
                              Registrar voto en la mesa {{mesajurado}}
                            </button>
                          </form>
                        </th>
                        {% endif %}
                    </tr>

                    <tr>
                        {% if voto == "si" %}
                        <th colspan="2" style="text-align: center; padding: 15px;">
                          <h5 style="color: rgb(255, 1, 1); font-weight: bold; font-size: 28px;">
                             ⚠️ YA REGISTRÓ SU VOTO EN LA MESA {{ mesa }}
                            </h5>
                          
                        </th>
                        {% endif %}
                    </tr>


                 
  



                </table>
            </div>
        

          </div>
          
          <li class="nav-item">
            <a type="button" class="btn btn-primary" href="{% url 'homejurados' %}">BUSCAR OTRO USUARIO</a>
          </li>



        {% endif %}
      
      </main>
    </div>
  </section>
  
    </div><!-- container //  -->
  


  </div>

  <div class="container text-center">
    <div class="row align-items-start">
      <div style="display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 20px;">
    </div>
    </div>
  
  
  </div>




  
  
  </div>

  
  
<div class="container text-center">
  <div class="row align-items-start">
    <div style="display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;">
  </div>
  </div>


</div>




{% endblock %}


{% block baroptionpies %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'homejurado' %}">Inicio</a>
</li>

{% endblock %}