{% extends 'base.html' %}
{% load static %}


{% block baroption %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'homeadministrador' %}">Inicio</a>
</li>

{% endblock %} 


{% block content %}


<div class="d-flex justify-content-center align-items-center containernew">
  <h5 class="mb-3">Bienvenido, {{ request.user.username }}!</h5>
</div>

<div class="d-flex justify-content-center align-items-center containernew">
  <h5 class="mb-3">Perfil: {{ tipo_usuario_completo}}!</h5>
</div>


<div class="d-flex justify-content-center align-items-center">
  {% csrf_token %}
  <div style="  text-align: justify;
  width: 100%; 
  max-width: 800px; 
  height: 800%;
  margin:0 auto;
  padding: 20px;">

    <p style="font-size: 20px;"><strong>Plataforma de Votaciones Guambía 2025</strong></p>
    <p style="font-size: 18px;">
      La plataforma <strong>Votaciones Guambía 2025</strong> ha sido desarrollada para facilitar la 
      consulta de los usuarios habilitados para participar en el proceso electoral del territorio de Guambía.
      <br><br>
      A través de este sistema, los ciudadanos pueden verificar si están registrados para votar, 
      asegurando un proceso transparente, ordenado y accesible para toda la comunidad Misak.
      <br><br>

    </p>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-start" style="background-color: #f5f5f5;">   
   <div class="container">

  <section class="section-content py-3">
    <div class="row">
      <aside class="col-lg-3"> 
  <!-- ============= COMPONENT ============== -->
        <nav class="sidebar card py-2" style="background-color: #2e39de;">
        <ul class="nav flex-column">


          <li class="nav-item">
            <a class="nav-link" href="{% url 'homeadministrador' %}" 
              style="color: #09f062; font-weight: bold; text-decoration: none; display: block; padding: 10px 15px;">
              BUSQUEDA DE USUARIOS
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'resultadosadmin' %}" 
              style="color: #6ab8d9; font-weight: bold; text-decoration: none; display: block; padding: 10px 15px;">
              RESULTADOS VOTACIONES
            </a>
          </li>        

          <li class="nav-item">
            <a class="btn btn-light" href="{% url 'baselogin' %}">SALIR</a>
          </li>         
        </ul>
        </nav>
  <!-- ============= COMPONENT END// ============== -->	
      </aside>

      <!-- ============= poner aqui el dashboard============== -->	
       <!-- right content -->
      <div class="col-lg-9">
        <div class="embed-wrap">
          <iframe
            src="https://linaruiz2.retool.com/embedded/public/800d40af-cda7-45ec-99b9-55b1bc3defed"
            allow="clipboard-write; fullscreen; geolocation; microphone; camera"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
          ></iframe>
        </div>
      </div>


    </div>
  </section>
  
    </div><!-- container //  -->
  


  </div>

  <div class="container text-center">
    <div class="row align-items-start">
      <div style="display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 20px;">
    </div>
    </div>
  
  
  </div>




  
  
  </div>

  
  
<div class="container text-center">
  <div class="row align-items-start">
    <div style="display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;">
  </div>
  </div>


</div>




{% endblock %}

